# daata analysis
numpy==1.23.1
xarray==2022.6.0
pandas==1.4.3
# plotting
Cartopy==0.20.3
matplotlib==3.5.2
pyproj==3.3.1
# grib
cfgrib==0.9.10.1
eccodes==1.4.2
# jupyter
ipykernel==6.15.1
ipython==7.34.0
jedi==0.18.1
jupyter-black==0.3.1
jupyter-client==7.3.4
jupyter-core==4.11.1
# http
requests==2.28.1
# io
pyarrow==9.0.0
# linting/formatting
black==22.6.0